node_modules/
.env
.env.local
.env.developments
.env.test
.env.production

# Logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Build folders
dist/
build/

# IDE files
.vscode/
.idea/

# Optional
coverage/